<div *ngIf='currentBlog' class="container box">
  <header>
    <h2 >{{ currentBlog.title }}</h2>
    <span class="subhead"><strong>Posted by: </strong> {{ currentBlog.author }} on {{ currentBlog.lastModified | date }} </span>
    <div *ngIf='currentBlog.length > 0 && currentBlog.tags.length != undefined && currentBlog.tags.length > 0' class="tags">
      <strong>Tags: </strong>
      <div *ngFor='let tag of currentBlog.tags' class="tag btn-info rounded">
        {{ tag }}
      </div>
    </div>
  </header>

  <div class="row-fluid">
    <img class="header-img image-fluid" src="{{ currentBlog.image || 'https://cdn-images-1.medium.com/max/2000/1*qBNlFWQ9G_RPVm7tbZaXOw.jpeg' }}" alt="hero image" />
  </div>

  <section class="content">
    <p
      [innerHTML]="currentBlog.bodyHtml"
    ></p>
  </section>

  <div class="button-bar">
    <button type="button" [routerLink]="['/edit/' + currentBlog.blogId]" id="edit" class="btn btn-info">Edit</button>
    <button type="button" (click)="deletePost()" id="delete" class="btn btn-danger">Delete</button>
    <button type="button" (click)="goBack()" id="back" class="btn btn-warning">Go Back</button>
  </div>
</div>>
